%ul.breadcrumb
  %li
    %a{:href => "/"}= I18n.t('front.title')
    %span.divider /
  %li.active= I18n.t("profile.title")


%ul.nav.nav-tabs
  %li
    %a{:href => profile_path }= I18n.t('profile.title')
  %li.active
    %a{:href => profile_change_password_path }= I18n.t('profile.change_password')

%form.form-horizontal{:method => 'POST', :action => profile_update_password_path}
  - if flash[:notice]
    .alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"} x
      = flash[:notice]
  - if flash[:alert]
    .alert.alert-error
      %button.close{"data-dismiss" => "alert", :type => "button"} x
      = flash[:alert]

  = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
  .control-group
    %label.control-label{:for => "user_current_password", :style => 'width:80px;'}= I18n.t('profile.current_password')
    .controls{:style => 'margin-left:100px;'}
      %input#user_password{:placeholder => I18n.t('profile.current_password'), :name => 'user[current_password]', :type => "password" }
      %span.help-inline= @user.errors[:current_password].first unless @user.errors[:current_password].empty?
  .control-group
    %label.control-label{:for => "user_password", :style => 'width:80px;'}= I18n.t('profile.password')
    .controls{:style => 'margin-left:100px;'}
      %input#user_password{:placeholder => I18n.t('profile.password'), :name => 'user[password]', :type => "password"}
      %span.help-inline= @user.errors[:password].first unless @user.errors[:password].empty?
  .control-group
    %label.control-label{:for => "user_password_confirmation", :style => 'width:80px;'}= I18n.t('profile.password_confirmation')
    .controls{:style => 'margin-left:100px;'}
      %input#user_password_confirmation{:placeholder => I18n.t('profile.password_confirmation'), :name => 'user[password_confirmation]', :type => "password" }
      %span.help-inline= @user.errors[:password_confirmation].first unless @user.errors[:password_confirmation].empty?
  .control-group
    .controls{:style => 'margin-left:100px;'}
      %button.btn.btn-success.btn-mini{:type => "submit"}= I18n.t('profile.save')




